* {
    padding: 0;
    margin: 0;
    font-size: 1.3em;
    font-family: "Comic Sans MS";
}

#delBtn, #doneBtn {
    width: 12.5%;
    border: none;
    cursor: pointer;
    background: none;
}

#container {
    border: 1px solid red;
    width: max-content;
    background: blanchedalmond;
    height: min-content;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

#task-container, #input-container {
    display: flex;
    justify-content: space-between;
}

#task {
    text-align: center;
    width: 80%;
    border: 1px solid green;
    background: snow;
}

#add {
    width: 25%;
    font-size: 30px;
    color: #218294;
    border: none;
    text-transform: uppercase;
    position: relative;
}

input {
    width: 80%;
    border: none;
}


