* {
    padding: 0;
    margin: 0;
    font-size: 1.3em;
    font-family: "Comic Sans MS";
}

#delButton, #doneButton {
    width: 12.5%;
    border: none;
    cursor: pointer;
    outline: none;
    background: none;
}

#container {
    width: max-content;
    background: blanchedalmond;
    height: min-content;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

#task-container, #input-container {
    display: flex;
    justify-content: space-between;
}

#task, #date {
    text-align: center;
    width: 80%;
    border: 1px solid blanchedalmond;
    background: snow;
}

#addButton {
    width: 25%;
    font-size: 30px;
    cursor: pointer;
    color: #218294;
    border: none;
    text-transform: uppercase;
    position: relative;
}

input {
    width: 80%;
    border: none;
}


